NEXT_PUBLIC_PADDLE_ENV=sandbox
# NEXT_PUBLIC_PADDLE_CLIENT_TOKEN=
# NEXT_PUBLIC_PADDLE_PRICE_SEALED=
# NEXT_PUBLIC_PADDLE_PRICE_RESEAL=
# PADDLE_WEBHOOK_SECRET=

# Firebase Web (carbon-web-1265b) — public client config
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCUQ0jDeUQPAr3xfSk-aOO4OqcrNwM3mD0
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=carbon-web-1265b.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=carbon-web-1265b
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=carbon-web-1265b.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=7943100684
NEXT_PUBLIC_FIREBASE_APP_ID=1:7943100684:web:c4f70343f4af130852d129
